@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply max-w-full h-auto border-none align-top;
  }
}

.card {
  @apply w-full h-full border rounded-lg flex flex-col items-center p-4;
}

.card div {
  @apply w-full;
}

.btn {
  @apply rounded-lg bg-green-800 text-white text-white block p-2 text-center hover:opacity-20 hover:duration-300;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
}
